body{
	margin: 0px;
}
header{
	background-color: #4F4D53;
	height: 48px;
}
@-ms-viewport {
		width: device-width;
	}

@media only screen and (max-width: 1118px) {
    .centered {
    margin-top: -250px;
    }
    .logo{
    	margin-left: -150px;
    }
    #foot{
       	margin-left: -100px;
    }
    
}


@media screen and (max-width: 640) {
 footer{
 	width: 100%;
 }

		}

#icon{
background-image:url(ic_search.png); 
background-repeat: no-repeat; 
background-position: 5px 8px;
}
.logo{
padding-left: 370px;
padding-top: 13px;
}
#main-content{
	padding: 50px;
}
.centered {
	display: inline-block;
	text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 70px;
	color : #4F4D53;
	font-weight: 800;
}
h2{
	font-family: 'Roboto', sans-serif;
	font-size: 64px;
	color : #E8BE02;
	font-weight: 800;
}
h3{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color : #E8BE02;
	font-weight: 800;
}
h4{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color : #FFFFFF;
	font-weight: 400;
}
p{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color : #4F4D53;
	font-weight: 400;
	padding: 0px,50px,0px, 50px;
}
.line{
	background-color: #E8BE02;
	height: 12px;
	width: 100%;
}
footer{
	background-color: #4F4D53;
	width: 100%;
	height: 320px;
	padding : 50px;
}
.team{
	float: left;
}
.lm{
float: left;
padding-left: 130px;
}
.meetus{
float: left;
padding-left: 130px;
}
.contact{
	float: left;
	padding-left: 130px;
}
#foot{
	padding-left: 250px;
}
#main-content{
	padding: 0px, 50px, 0px 50px;
}